doctype html
html
    head
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/indexStyle.css")
        link(rel="stylesheet" href="./stylesheets/navigation.css")
        link(rel="stylesheet" href="./stylesheets/roll.css")
        title 小巨人购物商城
    body
        .container
            .main-info
            #new-product
                .title-two
                    h3 新款产品
                .line
                .info-show
                    if goods.newItem.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.newItem
                                if n < 5
                                    - n++

                                    if i === 0
                                        li#list
                                            a(href='/goods/#{val.id}')
                                                img(src="#{val.img}").big-list
                                    else 
                                        li#list
                                            .picture
                                                a(href='/goods/#{val.id}')
                                                    img(src="#{val.img}")
                                            .word
                                                a(href='/goods/#{val.id}') #{val.name}
                                            .price ￥#{val.price}
                    else
                        | 没有新款产品

            #popular-product
                .title-two
                    h3 热销爆款
                .line
                .info-show
                    if goods.popular.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.popular
                                if n < 5
                                    - n++

                                    if i === 0
                                        li#list
                                            a(href='/goods/#{val.id}')
                                                img(src="#{val.img}").big-list
                                    else 
                                        li#list
                                            .picture
                                                a(href='/goods/#{val.id}')
                                                    img(src="#{val.img}")
                                            .word
                                                a(href='/goods/#{val.id}') #{val.name}
                                            .price ￥#{val.price}
                    else
                        | 没有新款产品
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./lib/jquery/jquery.slides.min.js")
    script(src="./javascripts/roll.js")
