doctype html
html
    head
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/indexStyle.css")
        link(rel="stylesheet" href="./stylesheets/navigation.css")
        link(rel="stylesheet" href="./stylesheets/roll.css")
        title EmonOffice
    body
        .container
            .main-info
                .carousel.slide#myCarousel
                    ol.carousel-indicators
                        li.active(data-slide-to="0" data-target="#myCarousel") 
                        li(data-slide-to="1" data-target="#myCarousel")
                        li(data-slide-to="2" data-target="#myCarousel")
                        li(data-slide-to="3" data-target="#myCarousel")
                        li(data-slide-to="4" data-target="#myCarousel")
                    .carousel-inner
                        .item.active
                            a(href='/goods/1')
                                img(alt="1" src="./images/banner/lamy.jpg")
                                .carousel-caption
                                    h1 Opera
                                    p Opera浏览器，是一款挪威Opera Software
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                        .item
                            a(href='/goods/2')
                                img(alt="2" src="./images/banner/lamy1.jpg")
                        .item
                            a(href='/goods/3')
                                img(alt="3" src="./images/banner/lamy2.jpg")
                        .item
                            a(href='/goods/4')
                                img(alt="4" src="./images/banner/lamy3.jpg")
                    .left.carousel-control(data-slide="prev" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                    .right.carousel-control(data-slide="next" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            #new-product
                .title-two
                    h3 新品推荐
                .line
                .info-show
                    if goods.newItem.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.newItem
                                if n < 5
                                    - n++

                                    if i === 0
                                        li#list
                                            a(href='/goods/#{val.id}')
                                                img(src="#{val.img}").big-list
                                    else 
                                        li#list
                                            .picture
                                                a(href='/goods/#{val.id}')
                                                    img(src="#{val.img}")
                                            .word
                                                a(href='/goods/#{val.id}') #{val.name}
                                            .price ￥#{val.price}
                    else
                        | 暂无数据

            #popular-product
                .title-two
                    h3 热销排行
                .line
                .info-show
                    if goods.popular.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.popular
                                if n < 5
                                    - n++

                                    if i === 0
                                        li#list
                                            a(href='/goods/#{val.id}')
                                                img(src="#{val.img}").big-list
                                    else 
                                        li#list
                                            .picture
                                                a(href='/goods/#{val.id}')
                                                    img(src="#{val.img}")
                                            .word
                                                a(href='/goods/#{val.id}') #{val.name}
                                            .price ￥#{val.price}
                    else
                        | 暂无数据
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./lib/jquery/jquery.slides.min.js")
    script(src="./javascripts/roll.js")
