doctype html
html
    head
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/indexStyle.css")
        link(rel="stylesheet" href="./stylesheets/navigation.css")
        link(rel="stylesheet" href="./stylesheets/roll.css")
        title EmonOffice
    body
        .container
            .main-info
                .carousel.slide#myCarousel
                    ol.carousel-indicators
                        li.active(data-slide-to="0" data-target="#myCarousel") 
                        li(data-slide-to="1" data-target="#myCarousel")
                        li(data-slide-to="2" data-target="#myCarousel")
                        li(data-slide-to="3" data-target="#myCarousel")
                        li(data-slide-to="4" data-target="#myCarousel")
                    .carousel-inner
                        .item.active
                            a(href='/goods/1')
                                img(alt="1" src="./images/banner/lamy.jpg")
                                .carousel-caption
                                    h1 LAMY
                                    p Opera浏览器，是一款挪威Opera Software
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                        .item
                            a(href='/goods/2')
                                img(alt="2" src="./images/banner/lamy1.jpg")
                        .item
                            a(href='/goods/3')
                                img(alt="3" src="./images/banner/lamy2.jpg")
                        .item
                            a(href='/goods/4')
                                img(alt="4" src="./images/banner/lamy3.jpg")
                    .left.carousel-control(data-slide="prev" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                    .right.carousel-control(data-slide="next" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            #new-product
                .title-one
                    h3 新品推荐
                .line
                .info-show
                    if goods.newItem.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.newItem
                                li#list
                                    a(href='/goods/#{val.id}')
                                        img(src="#{val.img}").big-list
                                        .word
                                            a(href='/goods/#{val.id}') #{val.name}
                                        .price ￥#{val.price}
                    else
                        | 暂无数据    
            .title-two
                h3 商品分类
        #tab
            ul#myTab.nav.nav-tabs(role="tablist")
                li.active
                    a(href="#bulletin" role="tab" data-toggle="tab") 文具
                li
                    a(href="#rule" role="tab" data-toggle="tab") 办公
                li    
                    a(href="#forum" role="tab" data-toggle="tab") 耗材
                li
                    a(href="#security" role="tab" data-toggle="tab") 摸摸
                li
                    a(href="#welfare" role="tab" data-toggle="tab") 公益
            #myTabContent.tab-content
                .tab-pane#bulletin.active
                    #div
                .tab-pane#rule 规则内容面板
                .tab-pane#forum 论坛内容面板
                .tab-pane#security 安全内容面板
                .tab-pane#welfare 公益内容面板
            .toolbar
                a(href="javascript:;" class="toolbar-item toolbar-item-weixin")
                    span.toolbar-layer
                a(href="javascript:;" class="toolbar-item toolbar-item-top" id="top")
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./lib/jquery/jquery.slides.min.js")
    script(src="./javascripts/roll.js")
