doctype html
html
    head
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/indexStyle.css")
        link(rel="stylesheet" href="./stylesheets/navigation.css")
        link(rel="stylesheet" href="./stylesheets/roll.css")
        title EmonOffice
    body
        .container
            .main-info
                .carousel.slide#myCarousel
                    ol.carousel-indicators
                        li.active(data-slide-to="0" data-target="#myCarousel") 
                        li(data-slide-to="1" data-target="#myCarousel")
                        li(data-slide-to="2" data-target="#myCarousel")
                        li(data-slide-to="3" data-target="#myCarousel")
                        li(data-slide-to="4" data-target="#myCarousel")
                    .carousel-inner
                        .item.active
                            a(href='/goods/1')
                                img(alt="1" src="./images/banner/lamy.jpg" id="bannerImg")
                                .carousel-caption
                                    h1 LAMY
                                    p 凌美，来自德国的钢笔。
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                        .item
                            a(href='/goods/2')
                                img(alt="2" src="./images/banner/lamy1.jpg" id="bannerImg")
                                .carousel-caption
                                    h1 LAMY
                                    p 凌美，来自德国的钢笔。
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                        .item
                            a(href='/goods/3')
                                img(alt="3" src="./images/banner/lamy2.jpg" id="bannerImg")
                                .carousel-caption
                                    h1 LAMY
                                    p 凌美，来自德国的钢笔。
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                        .item
                            a(href='/goods/4')
                                img(alt="4" src="./images/banner/lamy3.jpg" id="bannerImg")
                                .carousel-caption
                                    h1 LAMY
                                    p 凌美，来自德国的钢笔。
                                    p
                                        a.btn.btn-lg.btn-primary 了解更多
                    .left.carousel-control(data-slide="prev" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                    .right.carousel-control(data-slide="next" href="#myCarousel")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                .line
            .threeImg
            .fourImg
            #new-product
                    if goods.newItem.length !== 0
                        ul.info-list
                            - var n = 0
                            each val,i in goods.newItem
                                li#list
                                    a(href='/goods/#{val.id}')
                                        img(src="#{val.img}").big-list
                                        .word
                                            a(href='/goods/#{val.id}') #{val.name}
                                        .price ￥#{val.price}
                    else
                        | 暂无数据
        #tab
            ul#myTab.nav.nav-tabs(role="tablist")
                li.active
                    a(href="#bulletin" role="tab" data-toggle="tab" class="tabfont") 文具文具
                li
                    a(href="#rule" role="tab" data-toggle="tab" class="tabfont") 办公文具
                li    
                    a(href="#forum" role="tab" data-toggle="tab" class="tabfont") 耗材文具
                li
                    a(href="#security" role="tab" data-toggle="tab" class="tabfont") 摸摸文具
                li
                    a(href="#welfare" role="tab" data-toggle="tab" class="tabfont") 公益文具
            #myTabContent.tab-content
                .tab-pane#bulletin.active
                    #grid_of_3
                        if goods.popular.length !== 0
                            ul.grids_of_3
                                - var n = 0
                                each val,i in goods.popular
                                    li.grid1_of_3
                                        a(href='/goods/#{val.id}')
                                            img(src="#{val.img}").big-list
                                            .word #{val.name}
                                            .price ￥#{val.price}
                                            .b_btm
                        else
                            | 暂无数据
                .tab-pane#rule
                    #grid_of_3
                        if goods.newItem.length !== 0
                            ul.grids_of_3
                                - var n = 0
                                each val,i in goods.newItem
                                    li.grid1_of_3
                                        a(href='/goods/#{val.id}')
                                            img(src="#{val.img}").big-list
                                            .word #{val.name}
                                            .price ￥#{val.price}
                                            .b_btm
                        else
                            | 暂无数据
                .tab-pane#forum
                    #grid_of_3
                        if goods.roll.length !== 0
                            ul.grids_of_3
                                - var n = 0
                                each val,i in goods.roll
                                    li.grid1_of_3
                                        a(href='/goods/#{val.id}')
                                            img(src="#{val.img}").big-list
                                            .word #{val.name}
                                            .price ￥#{val.price}
                                            .b_btm
                        else
                            | 暂无数据
                .tab-pane#security
                    #grid_of_3
                        if goods.popular.length !== 0
                            ul.grids_of_3
                                - var n = 0
                                each val,i in goods.popular
                                    li.grid1_of_3
                                        a(href='/goods/#{val.id}')
                                            img(src="#{val.img}").big-list
                                            .word #{val.name}
                                            .price ￥#{val.price}
                                            .b_btm
                        else
                            | 暂无数据
                .tab-pane#welfare
                    #grid_of_3
                        if goods.sale.length !== 0
                            ul.grids_of_3
                                - var n = 0
                                each val,i in goods.sale
                                    li.grid1_of_3
                                        a(href='/goods/#{val.id}')
                                            img(src="#{val.img}").big-list
                                            .word #{val.name}
                                            .price ￥#{val.price}
                                            .b_btm
                        else
                            | 暂无数据
        
        .container
        #foot1
            .toolbar
                a(href="javascript:;" class="toolbar-item toolbar-item-weixin")
                    span.toolbar-layer
                a(href="javascript:;" class="toolbar-item toolbar-item-top" id="top")
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./lib/jquery/jquery.slides.min.js")
    script(src="./javascripts/roll.js")
